@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;700&display=swap");

* {
  font-family: "Wix Madefor Display", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  height: 100vh;
  background-color: #dbf2ff;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-card a:active, a:visited, a:target{
  color: black;
  
 
}

.profile-card {
  height: 550px;
  width: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
 
}

.upper {
  height: 35%;
  border-radius: 1rem 1rem 0 0;
  background-color: #73a9ad;
  
  
}


.upper .image {
  border-radius: 50%;
  background-color:#73a9ad;
  padding: 3px;
  width: 11rem;
  height: 11rem;
  position: relative;
  top: 35px;
  margin: 0 auto;
  
}
.upper .img {
  /* display: none; */
  border-radius: 50%;
  background-color: #73a9ad;
  object-fit: cover;
  border:4px solid white ;
  width: 100%;
  height: 100%;
}

.lower{
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 1rem 1rem;

}

.lower .name{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.name p:first-child{
  font-size: 2.5rem;
  font-weight: 500;
  
}

.lower .social{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 65%;

}

.lower .social i {
    font-size: 1.1rem;
    color: #ffffff;
    /* ba */

}

.lower .social a {
   text-decoration: none;

}

.lower .social span {
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; 

}
.lower .social .git {
  background-color: #171515;
 
}
.lower .social .ln {
  background-color: #0077b5;
 
}
.lower .social .yt {
  background-color: #c4302b;
 
}
.lower .social .wt {
  background-color: #128C7E;
 
}

.lower .social .mail {
  background-color: #D44638;
 
}

.lower .btn{
  margin-top: 50px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  
}

.lower span{  
  display: inline-block;
  background-color: #73a9ad;
  width: 130px;
  text-align: center;
  padding: 5px;
  border-radius: 0.4rem;
  font-size: 1.2rem;

}

.lower span:hover{
  /* color: white; */
  font-weight: 600;
  cursor: pointer;  

}





